<div class="container">
	<h1 class="branch1 text-center fw-bold">Branch 1</h1>
	<p class="lead text-center mt-3">This is our Head Office Branch.</p>
	<p class="lead text-center">Located in California. </p>
</div>
<div class="container-fluid">
	<%= image_tag 'ofc1.jpg', class:"image-fluid" %>
</div>
<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-lg-5">
				<div class="card" style="width: 25rem;">
				  <div class="card-body">
				    <h5 class="card-title fw-bold">Address</h5>
				    <p class="card-text">
				    	<strong>Street :</strong> 200 Civic Plaza <br>
  					  <strong>City/Town :</strong> Dublin<br> 	
  					  <strong>State/Province/Region :</strong> California<br>
  					  <strong>Zip/Postal Code :</strong> 94568<br>
  					  <strong>Phone Number :</strong> (925) 828-1315<br>
  					  <strong>Country :</strong> United States<br>		
				    </p>
				  </div>
				</div>
		</div>
		<div class="col-lg-5">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d824505.9421063692!2d-119.8906548641337!3d36.173213500638944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb9fe5f285e3d%3A0x8b5109a227086f55!2sCalifornia%2C%20USA!5e0!3m2!1sen!2sin!4v1676360337700!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
	</div>
</div>
