<div class="container">
	<h1 class="branch3 text-center fw-bold">Branch 3</h1>
	<p class="lead text-center mt-3">This is our Regional Office Branch.</p>
	<p class="lead text-center">Located in Alaska. </p>
</div>
<div class="container-fluid">
	<%= image_tag 'ofc2.webp', class:"image-fluid" %>
</div>
<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-lg-5">
				<div class="card" style="width: 25rem;">
				  <div class="card-body">
				    <h5 class="card-title fw-bold">Address</h5>
				    <p class="card-text"><strong>Street :</strong> 3031 Jerry Toth Drive <br>
				    					 <strong>City/Town :</strong> Juneau<br> 	
				    					 <strong>State/Province/Region :</strong> Alaska <br>
				    					 <strong>Zip/Postal Code :</strong> 99801<br>
				    					 <strong>Phone Number :</strong> 907-586-8120<br>
				    					 <strong>Country :</strong> United States<br>		
				    </p>
				  </div>
				</div>
		</div>
		<div class="col-lg-5">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16278877.231279721!2d-176.47580228525283!3d60.12828781029365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5400df9cc0aec01b%3A0xbcdb5e27a98adb35!2sAlaska%2C%20USA!5e0!3m2!1sen!2sin!4v1676362802048!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
	</div>
</div>
