<div class="container mt-4 mb-4">
	<div class="col-lg-12 ">
		<div class="card">
			<h1 class="text-center mt-3">Edit Students</h1>
		</div>
		<%= render 'form', student: @student %>
	</div>
	
</div>


