<div class="container mb-3 mt-1">
	<%= image_tag 'pexel.jpeg', class:"imgage" %>
</div>
<div class="container-fluid mt-3">
	<div class="row">
		<div class="col-lg-5 mt-5 mb-5 ms-5">
			<p>Meridian Educational Society has completed a quarter of a century and is poised for a quantum leap into the future by adapting to the challenges of an ever-evolving educational scenario. Connecting the Mind and Heart fluidly and flawlessly, it creates a holistic new millennial global generation of citizens who are high achievers, balancing professional commitment with a social conscience.</p>
			<p>Meridian School for Boys and Girls, Banjara Hills was founded on 12th July, 1995, by Mr. Neelakanta and Mrs. Renuka Butta  with a vision to offer quality education. The Flagship School has grown from strength to strength and has achieved unparalleled success not only in academics but also in co-scholastic activities like performing arts and sports ensuring 360o achievement. The school celebrated its Silver Jubilee in the Year 2020, the success of the school is validated by its Alumni many of whom have gone on to study in prestigious institutes like IITs, NITs, AFMC, JIPMER and global premium institutes like the IVY Leagues. The success of the flagship school led to the founding of equally successful branches at Madhapur in 2006, Kukatpally in 2008 and most recently at Uppal in 2020.</p>
			<p>
				Meridian Schools at Banjara Hills and Madhapur offer IB PYP curriculum upto Grade V and are affiliated to CBSE upto Grade XII. The schools are committed to developing global citizens with a well-rounded personality, international understanding, academic excellence, sensitive to the environment and to humanity. Meridian School, Kukatpally has also gained recognition for imbibing world values amongst students and for striking a perfect balance between the Body, Mind and Soul. All three schools have been awarded the International School Award by the British Council, several times over.
			</p>
			<p>Under the leadership and able guidance of Dr.D.Usha Reddy, the CEO Meridian Group of Schools, Brand Meridian has become a force to reckon with. Dr.Reddy has established herself as an eminent educationist and has won innumerable awards, that include the National Award from the then Hon’ble President of India, Her Excellency Pratibha Devisingh Patil, Awards for service in Education from three Governors and was also honoured with four Lifetime Achievement Awards. Her latest and most prestigious award is the conferring of an Honorary Doctorate from the Oxford Academic Debate Union, Oxford University. Teachers of all three schools have also won Best Teacher Awards and have helped establish Meridian as one of the premier educational institutions in the country.</p>
			<p>Meridianites are global game changers who are proactive, progressive and equipped to take on the challenges of the future. Be it excellence in academics where students of 10th and 12th grades pass the CBSE Boards with flying colours or co-curricular achievements where Meridianites have secured medals at National and International levels, they have excelled on all fronts. Always trained to be constant learners and enhance their skills, Meridianites focus on high quality self-development where success is a natural outcome and they keep the banner of Meridian soaring high.</p>
		</div>
		<div class="col-lg-5 mt-5 mb-5">
			<%= image_tag 'Madhapur.jpg',class:"img-thumbnail" %>
		</div>
	</div>
</div>