<div class="container mt-1 mb-5">
	<%= image_tag 'std.jpg', class:"student" %>
</div>
<div class="container">
	<div class="row g-0">
		<div class="col-lg-5 mb-5">
			<div class="card" style="width: 27rem;">
			  <div class="card-body">
			    <h5 class="card-title"><i class="fa-solid fa-location-dot"></i> Meridian School, Banjara Hills,</h5>
			    <p class="card-text">
			    	8-2-541, Rd Number 7, Zahara Nagar, Banjara Hills,<br>
			    	Hyderabad, Telangana 500034<br>
			    	Contact: +91 8096918857, 9948508222,<br>
			    </p>
			  </div>
			</div>
		</div>
		<div class="col-lg-5 mb-5">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.8350881061056!2d78.44091351446806!3d17.41970008805924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb972dffa68d4d%3A0x41f4dfe7e302e96!2sMeridian%20School%2C%20Banjara%20Hills!5e0!3m2!1sen!2sin!4v1675851901260!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
	</div>
	<div class="row g-0">
		<div class="col-lg-5 mb-5">
			<div class="card" style="width: 27rem;">
			  <div class="card-body">
			    <h5 class="card-title"><i class="fa-solid fa-location-dot"></i> Meridian School Madhapur,</h5>
			    <p class="card-text">
			    	100 Feet Road, Madhapur,<br>
			    	Hyderabad 500081,TELANGANA,INDIA<br>
			    	Contact: 9948043440, 8008204496, 9948811173<br>
			    </p>
			  </div>
			</div>
		</div>
		<div class="col-lg-5 mb-5">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.131039853596!2d78.38166691446864!3d17.453441088039035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb91627fe20fdd%3A0xa931fdeb7fc541f!2sMeridian%20School!5e0!3m2!1sen!2sin!4v1675852302114!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
	</div>

	<div class="row g-0">
		<div class="col-lg-5 mb-5">
			<div class="card" style="width: 27rem;">
			  <div class="card-body">
			    <h5 class="card-title"><i class="fa-solid fa-location-dot"></i> Meridian School Kukatpally,</h5>
			    <p class="card-text">
			    	#16-31-86/A, Sy.No: 1009, KPHB Colony,<br>
			    	Kukatpally, Hyderabad-500085,<br>
			    	TELANGANA, INDIA<br>
			    	Contact: 9542955777, 040-23053034<br>
			    </p>
			  </div>
			</div>
		</div>
		<div class="col-lg-5 mb-5">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3805.4183290310775!2d78.3846124144692!3d17.48753298801866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb918a35a53827%3A0x4a54abf0c25b9690!2sMeridian%20School!5e0!3m2!1sen!2sin!4v1675935265850!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
	</div>
</div>